 body {
  background-color: rgba(0, 0, 0, 0.89);
 }
 h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }



#Salmon {
 width: 300px;
 margin-left: 100px;
 margin-top: 10px;
}

nav {
  text-align: center;
  font-size: 30px;
}

table, th, td {
  border: 1px solid;
  color: aliceblue;
  width: 1600px;
 margin-left: 140px;
 margin-top: 75px;
 height: 25px;
}
/* w3 schools help */
td:hover {
  background-color: rgb(53, 19, 146);
}

td {
  text-align: center;
}

#shirt {
  margin-right: 150px;
}
  

#ShirtSale {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}

section p {
 font-size: 25px;
 color:white;
 width: 200px;
}

button {
  transition: 1000ms;
  width:250px;
  height:50px;
  border-radius: 12px;
}

button:hover {
  background-color: green;
}

footer {
  background-color: #444;
  height: 250px;
  margin-top:40px;
  margin-bottom: 100px;
}

footer p {
  text-align: center;
  font-size:20px
}

header {
  background-color: #444;
  margin-top:100px;
  margin-bottom: 40px;
}

h3{
  font-size: 30px;
  margin-bottom: 20px;
}
#Locations {
  text-align: Center;
  color: white;
  font-size: 20px;
  margin-right: 700px;
}

h4{
  font-size: 30px;
  margin-bottom: 20px;
}
#Contacts {
  position: relative;
  left: 400px;
  bottom: 340px;
  text-align: Center;
  color: white;
  font-size: 20px;
}

#TimesOpen {
  text-align: center;
  position: relative;
  bottom: 150px;
  text-align: Center;
  color: white;
  font-size: 20px;
}
h5{
  font-size: 30px;
  margin-bottom: 20px;
}