 body {
  background-color: rgb(46, 9, 9);
 }
 h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }



#Salmon {
  position: relative;
  left: 500px;
}

nav {
  text-align: center;
  font-size: 35px;
}

table, th, td {
  border: 1px solid;
  color: aliceblue;
  width: 1600px;
 margin-left: 140px;
 margin-top: 75px;
}
/* w3 schools help */
td:hover {
  background-color: rgb(53, 19, 146);
}